{% extends "base.html" %}
{% block content %}
  <main class="container">
    <section class="content">
        <h1>LED Status Indicators</h1>
        <p>
            Attches LED status indicator to the elements with .led-status css class.
        </p>
        <p>LED status can be for:</p>
        <ul>
            <li>1. Documents - in documents browser</li>
            <li>2. Pages - in document viewer</li>
        </ul>
    </section>
    <h2>States</h2>
    <ul>
        <li>
            <p>State unknown:</p>
            <svg class="led led-unknown" width="20" height="20" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="7.5" />
            </svg>
        </li>
        <li>
            <p>State pending:</p>
            <svg class="led led-pending" width="20" height="20" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="5" />
            </svg>
        </li>
        <li>
            <p>State in progress:</p>
            <div class="led led-in-progress"></div>
        </li>
        <li>
            <p>State complete: success</p>
            <svg class="led led-success" width="20" height="20" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z">
              </path>
            </svg>
        </li>
        <li>
            <p>State complete: fail</p>
            <div class="led led-fail"></div>
        </li>
    </ul>
    <h2>Change State Example</h2>
        <p>
            Change state (led indicators) of following nodes:
        </p>
        <p>

        </p>
        <p>
          <div class="play-view">
            <select name="folder" id="document-selector">
              <option value="1">Document 1</option>
              <option value="2">Document 2</option>
              <option value="3">Document 3</option>
            </select>
            <select name="state" id="document-state">
              <option value="pending">Pending</option>
              <option value="ocr-start">OCR Started</option>
              <option value="ocr-complete">OCR Complete</option>
            </select>
            <select name="result" id="document-result">
              <option value="error">Error</option>
              <option value="success">Sucess</option>
            </select>
            <button id="apply" class="apply">Apply</button>
            <ul>
                <li>
                  <div class="node" data-id="1">
                    <div class="document"></div>
                    <div class="footer">
                      <div class="led led-yellow"></div>
                      <div class="title">Document 1</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="node" data-id="2">
                    <div class="document"></div>
                    <div class="led led-yellow"></div>
                    <div class="title">Document 2</div>
                  </div>
                </li>
                <li>
                  <div class="node" data-id="3">
                    <div class="document"></div>
                    <div class="led led-yellow"></div>
                    <div class="title">Document 3</div>
                  </div>
                </li>
            </ul>
          </div>
        </p>
    </aside>
  </main>
{% endblock %}
